* {
  box-sizing: border-box;
}

:root {
  --background: rgba(255, 255, 255, 0.5)
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.row{
  margin-bottom: 100px;
}

/* navigation styles start here */


#navigation {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 40px 190px 0px 190px;
  width: 100%;
  position: fixed;
  top: 0;
  transition: all .5s;
}

nav ul {
  list-style: none;
}

nav li {
  margin-left: 1em;
  margin-bottom: 1em;
  display: inline-block
}

nav a {
  color: #000000;
  text-decoration: none;
  font-size: 1.2em;
}

nav a:hover {
  color: grey;
  transition: 0.5s;
}

.logo {
  font-size: 30px;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  margin-right: auto;
}


nav li {
  margin-left: 3em;
  margin-bottom: 0;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
}

@media screen and (max-width: 750px) {
  .logo {
    display:none;
  }

  nav li {
    margin-left: 1em;
    font-size: 14px;
  }
}

/* intro styling starts here */

.intro{
  margin-bottom: 40px;
  margin-top: 250px;
}

.profilePic {
     width: 240px;
     height: 240px;
     border-radius: 50%;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: matrix(-1, 0, 0, 1, 0, 0);;
  } 

.intro_bg{
  background-image: url(../img/SVG/Intro_bg.svg);
  background-repeat: no-repeat;
  position:absolute;
  width:100%;
  height:40%; 
  left: 0;
}

.introText {
  margin-left: 65px;
}

@media only screen and (max-width: 700px) {
  .introText{
     margin-left: 0;
  }
}

.introName {
  font-size: 36px;
  line-height: 49px;
  font-weight: bold;
  margin-bottom: 30px;

}

.introDesc {
  font-size: 18px;
  line-height: 35px;
}

.environment_bg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
}
/* projects styling starts here */

.work_intro{
  text-align: center;
  padding: 6%;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.project{
  margin-top: 20px;
}

.project_text{
  margin: 10px 0px 0px 0px;
  padding-left: 100px;
}

@media only screen and (max-width: 600px) {
  .project_text{
     padding-left: 0;
  }
}

.project_bg1{
  background-image: url(../img/SVG/project_bg1.svg);
  background-repeat: no-repeat;
  position:absolute;
  width:100%;
  height: 50%; 
  left: 0;
}

.project_bg2{
  background-image: url(../img/SVG/project_bg2.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
}

.project_bg3{
  background-image: url(../img/SVG/project_bg3.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
}

.project__container {
  position: relative;
  width: 100%;
}

.projectDesc{
  text-align: left;
}

.project__name{
  font-weight: bold;
  font-size:18px;
}

.project__image {
  max-width: 100%;
  border-radius: 15px;
  border: 1px solid #A9A9A9;
  margin: 30px 0px 10px 0px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.project__github {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 300%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
  color: black;
}

.project__container:hover .project__image {
  opacity: 0.3
}

.project__container:hover .project__github {
  opacity: 1
}

.tagContainer{
  display: flex;
  justify-content: space-evenly;
  text-align-last: center;
}

.projectsTag {
  font-size: 14px;
  font-weight: 700;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 0px 13px 15px 0px;
}

.projectsTag-pink {
  color: #fff;
  background-color: rgba(244, 115, 115, 0.7);
}

.projectsTag-blue {
  color: #fff;
  background-color: rgba(53, 128, 216, 0.7);
}

.projectsTag-purple {
  color: #fff;
  background-color: rgba(150, 70, 164, 0.7);
}

.projectsTag-lightblue {
  color: #fff;
  background-color: rgba(115, 159, 244, 0.69);
}

.projectsTag-red {
  color: #fff;
  background-color: rgba(248, 53, 53, 0.69);
}

.projectsTag-green {
  color: #fff;
  background-color: rgba(48, 200, 82, 0.69);
}

.demo_btn{
  background: #2B3D51;
  display: inline-block;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 10px 15px; 
  margin: 15px 0 0 0;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.demo_btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}