* {
  box-sizing: border-box;
}

:root {
  --background: rgba(255, 255, 255, 0.5)
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.row{
  padding-bottom: 100px;
}

/* navigation styles tart here */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-left: 1em;
  margin-bottom: 1em;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-size: 1.2em;
}

nav a:hover {
  color: grey;
}

.logo {
  font-size: 30px;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}


.navigation__items{
  display: flex;
}


nav li {
  margin-left: 2em;
  margin-bottom: 0;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
}

@media screen and (max-width: 567px) {
  .logo {
    font-size: 17px;
  }

  nav li {
    margin-left: 1em;
    font-size: 14px;
  }
}

/* intro styling starts here */


.profilePic {
  border-radius: 50%;
  width: 220px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  }


.introText {
  margin:auto;
}

.introName {
  font-size: 36px;
  line-height: 49px;
  font-weight: bold;
  padding-bottom: 10px;
}

.introDesc {
  font-size: 18px;
  line-height: 35px;
}

/* projects styling starts here */

.project__name{
  font-weight: bold;
  font-size:18px;
}

.project__image{
  max-width: 100%;
  border-radius: 15px;
  border: 1px solid #A9A9A9;
  margin-top: 30px;
}


.projectsTag {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 0px 13px 15px 0px;
}

.projectsTag__pink {
  color: #fff;
  background-color: rgba(244, 115, 115, 0.7);
}

.projectsTag__blue {
  color: #fff;
  background-color: rgba(53, 128, 216, 0.7);
}

.projectsTag__purple {
  color: #fff;
  background-color: rgba(150, 70, 164, 0.7);
}

.projectsTag__lightblue {
  color: #fff;
  background-color: rgba(115, 159, 244, 0.69);
}
